{% extends "base.html" %}

{% block title %} Cadastro Sucesso | {{ block.super }} {% endblock %}

{% block extracss %}{% endblock extracss %}

{% block content %}

    <!-- Blog Header -->
    <div class="container-fluid parallax-three modul-bt-one" data-speed="5" data-type="background">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="big-title">
                        <h1>Bem Vindo, {{ user.first_name }}</h1>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Blog -->
    <div class="container-fluid modul-bt-one">
        <div class="container modul-space-sixteen">
            <div class="row">
                <div class="col-md-12">
                    <div class="error-template text-center">
                        <h1>OK!</h1>
                        <h2>{{ user.first_name }} seu cadastro foi realizado com sucesso!</h2>
                        <p></p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Page Navi -->
    <div class="container-fluid module-background-one modul-bt-one hidden-xs">
        <div class="container modul-space-fifteen">
            <div class="row">
                <div class="col-md-12 text-center">
                    <div class="pagination pagination-default">
                        <a href="{{ request.META.HTTP_REFERER }}" class="btn btn-info previous">
                            <span class="fui-arrow-left"></span>
                            VOLTAR
                        </a>
                        <a href="{% url "cliente_index" %}" class="btn btn-info next">
                            IR PARA MINHA ÁREA
                            <span class="fui-arrow-right"></span>
                        </a>                        
                    </div>
                </div>
            </div>
        </div>
    </div>

    
{% endblock content%}

{% block extrajs %}{% endblock extrajs %}