{% extends "base.html" %}

{% block seotags %}
    <meta name="description" content="Agradecemos a você por demonstrar interesse em nossos serviços." /> 
    <meta name="keywords" content="website, desenvolvimento, site, marketing de relacionamento, marketing de conteudo, programação, abf, tecnologia, paracatu, sp, são paulo, minas gerais, rio de janeiro, belo horizonte, empresários, estratégica, serviço, empresário,"/>
    <meta name="robots" content="index, follow">
{% endblock %}

{% block title %} Contato Sucesso | {{ block.super }}{% endblock %}

{% block extracss %}{% endblock extracss %}

{% block content %}

    <!-- Blog Header -->
    <div class="container-fluid parallax-three modul-bt-one" data-speed="5" data-type="background">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="big-title">
                        <h1>Contato</h1>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Blog -->
    <div class="container-fluid modul-bt-one">
        <div class="container modul-space-sixteen">
            <div class="row">
                <div class="col-md-12">
                    <div class="error-template text-center">
                        <h1>OK!</h1>
                        <h2>Sua mensagem foi enviada com sucesso, em breve a responderemos!</h2>
                        <p></p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Page Navi -->
    <div class="container-fluid module-background-one modul-bt-one hidden-xs">
        <div class="container modul-space-fifteen">
            <div class="row">
                <div class="col-md-12 text-center">
                    <div class="pagination pagination-default">
                        <a href="/" class="btn btn-primary previous">                            
                            VOLTAR PARA A HOME
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    
{% endblock content%}

{% block extrajs %}{% endblock extrajs %}