<table cellspacing="0" cellpadding="0" border="0" width="100%">
  <tr>
    <td>
         <h3>{{ nome }}</h3>                                    
         <p style="line-height: 1.5; text-align: justify;">{{ mensagem }}</p>
    </td>
  </tr>  
</table>
<br />

<table cellspacing="0" cellpadding="0" border="0" width="100%">
   <tr style="text-align: center;">
		<td><b>Site:</b> {{ site }}</td>
		<td><b>Email:</b> {{ email }}</td>      			
   </tr>
</table>

<h4 style="text-align: center;" ><a href="mailto:{{ email }}">Responder mensagem</a></h4>